.App {
  text-align: center;
}

.back-to-map {
  background-image: url("../icons/arrow-back.svg");
  background-color: lightblue;
  background-repeat: no-repeat;
  background-size: 5vh;
  display: block;
  font-size: 0;
  height: 5vh;
  position: absolute;
  left: 4.6vw;
  top: 0.45vh;
  width: 5vh;
  border-radius: 2.5vh;
}

.close-link {
  position: absolute;
  bottom: 0px;
  left: -100px;
}

 .menu-icon {
  background-image: url("../icons/hamburger.png");
  background-color: rgb(27, 74, 128);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 4vh;
  position: fixed;
  left: 5vw;
  top: 1vh;
  width: 4vh;
}

.menu-closed {
  left: -100%;
}
.menu-open {
  left: 0%;
}

.container {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  height:87vh;
}

.footer {
  background-color:rgb(27, 74, 128);
  color: tan;
  text-align: center;
  font-size: 0.8em;
  height: 6.5vh;
  padding-top: 0.2vh;
  width: 100%;
}

.footer-text {
  font-size: 1.8vh;
}

.header {
  background-color:rgb(27, 74, 128);
  color: tan;
  font-size: 2vh;
  height: 5.8vh;
  line-height: 2.5em;
  text-align: center;
  width: 100%;
}

.header-title {
  font-size: 1.3em;
  margin: 0;
}

.info-point {
  background-color:rgb(27, 74, 128);
  border-style: solid;
  color: tan;
  padding: 5px;
  width: 220px !important;
}

.info-point .pic-of-place{
  max-width: 220px;
}

.list-of-places {
  background-color:#05265b;
  height: 35vh;
  list-style: none;
  overflow: auto;
  margin: 1vw;
  padding: 1vw;
  width: 80%;
}

.map-container {
  width: 100%;
  height: 87vh;
}

.place-listed {
  cursor: pointer;
  font-size: 0.9em;
}

.pic-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  text-align: center;
}

.pics-page {
  width: 100%;
}

.pics-container{
  display: flex;
  flex-flow: wrap;
  background-color: wheat;
  justify-content: center;
  min-height: 87vh;
}

.pics-container .pic-of-place {
  overflow: hidden;
  max-height: 21vh;
  max-width: 100%;
  margin: 1%;
  border-color: rgb(27, 74, 128);
}

.pics-link {
  background-image: url('../icons/add.svg');
  background-size: contain;
  border-radius: 30px;
  background-color: tan;
  cursor: pointer;
  font-size: 0;
  height: 5vh;
  margin-left: 45%;
  min-width: 40px;
  min-height: 40px;
  position: absolute;
  bottom: 2%;
  width: 5vh;
}

.pic-of-place {
  border-style: solid;
  margin: 1vh;
  max-width: 85%;
  max-height: 24vh;
}

.pics-title {
  text-align: center;
  width: 100%;
}

.offline-map {
  background-image: url('/images/offline_map.png');
  background-size: cover;
  height: 87vh;
  text-align: center;
  width: 100%;
}

.offline-text {
  margin: 0;
  padding: 1vh;
  position: relative;
  top: 30vh;
  background-color: #908c8c9e;
}

.search-place {
  background-color: lightblue;
  margin-left: 10px;
  margin-bottom: 1vh;
  width: 80%;
}

.selected {
  color: lightblue;
  position: relative;
  top: 0;
}

.sidebar {
  background-color:rgb(27, 74, 128);
  color: tan;
  width: 30%;
  position: absolute;
  top: 5vh;
  height: 88.05vh;
  z-index: 1000;
  transition: .5s;
  overflow: hidden;
}

.sidebar-title {
  font-size: 2vh;
  margin-bottom: 1vh;
  margin-left: 10px;
}

@media (max-width: 361px) {
  .sidebar {
    width: 60%;
  }
  .list-of-places {
    height: 35%;
  }
  .pics-container {
    height: 100%;
  }
}